/* this makes all elements to look the same in different browsers*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* the baground color of the entire page*/
body {
    background-color: #d9dcd6;
}
 /*this si for the top margin of the page*/
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #1d5b7a;
    color: #ffffff;
}
/* changes the collor of letters in the title*/
.seo {
     color:gray;

}
/*the elements appears in line */
header h1 {
    display: inline-block;
    font-size: 48px;
}
/* the three categories that apear on the right top corner, the componets of header*/
header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/* the list would not have any marking simbols*/
header div ul {
    list-style-type: none;
}
/* between the categories would be 25 px space*/
header div ul li {
    display: inline-block;
    margin-left: 25px;
}
/* the links atributes*/
a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}
/* the characeristics for the image tha appears under the header*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
}
/* the content that appears in the main section, two images appears in the right and one in the left, the are 25px away from  their relative margin*/
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}
/* the main section will display with the folowing properties and values*/
main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

main section {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/* all three img have the same propertyrs*/
main section img {
    max-height: 200px;
}
/* the benefits that are on the right side */
aside {
    margin-right: 20px;
    padding: 20px;
    clear:both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

aside {
    margin-bottom: 32px;
    color: black;
}

/* the images that apears in the aside section*/
aside section img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* the content on the bottom witch contains the copy right information */
footer{
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

h2 {
    font-size: 20px;
}